<%= form_for(@article, { multipart: true }) do |form| %>
    <p>
	<%= form.label :title %>
	<%= form.text_field :title %>
    </p>

    <p>
	<%= form.label :body %>
	<%= form.text_area :body %>
    </p>

    <p>
	<%= form.label :tag_list %>
	<%= form.text_field :tag_list %>
    </p>

    <p>
	<%= form.label :image %>
	<%= form.file_field :image %>
    </p>

    <%= form.submit %>
<% end %>
